<div class="dropdown">
  <button class="dropdown-toggle order-btn" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
    <% if action_name == "index" %>
      新着順
    <% else %>
    　人気順
    <% end %> 
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
    <li><%= link_to "新着順", posts_path, class: "dropdown-item" %></li>
    <li><%= link_to "人気順", many_favorites_posts_path, class: "dropdown-item" %></li>
  </ul>
</div>