<h1>コーディネート登録</h1>
<%= form_with model: @post, url: posts_path, method: :post do |f| %>
  <div class="form-group">
    <label>コーディネート画像</label>
    <%= f.file_field :outfit_image, accept: 'image/*', class: "form-control" %>
  </div>

  <div class="form-group">
    <label>コーディネートのポイント</label>
    <%= f.text_area :body, class: "form-control" %>
  </div>

  <%= f.submit "投稿する" %>
<% end %>