<!--タイトルヘッダー-->
<%= render "public/posts/title_top", posts: @search_posts, title: "タグ検索結果" %>

<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1 d-flex justify-content-between">
      <div class="container">
        <div class="row">
          <!--性別選択-->
          <div class="col-md-3 gender-nav">
            <%= render "sidebar", tags: @tags %>
          </div>
          <% if @search_posts.present? %>
            <!--コーディネート一覧-->
            <div class="col-md-9">
              <div class="row">
                <%= render "index", posts: @search_posts %>
              </div>
              <%= paginate @search_posts %>
            </div>
          <% else %>
            <div class="col-md-9">
              <h3 class="pt-5 text-center">条件に一致するコーディネートは見つかりませんでした</h3>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


