<% if @search_posts.present? %>
  <div class="container">
    <div class="row">
      <h1>タグ検索一覧</h1>
      <div class="container">
        <div class="row">
          <div class="col-md-10 offset-md-1 d-flex justify-content-between">
            <div class="container">
              <div class="row">
                <!--性別選択-->
                <div class="col-md-3 gender-nav">
                  <nav></nav>
                </div>
                <!--コーディネート一覧-->
                <div class="col-md-9">
                  <div class="row">
                    <%= render "index", posts: @search_posts %>
                  </div>
                <%= paginate @search_posts %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <p>条件に一致するコーディネートは見つかりませんでした</p>
<% end %>


