<header id="title_top">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 d-flex justify-content-between">
        <h1>ユーザー一覧<span class="ms-1">(男性)</span></h1>
        <div class="all_member">
          <h2 class="ps-3"><%= @members_men.count %><span>件</span></h2>
        </div>
      </div>
    </div>
  </div>
</header>

<!--ユーザー一覧メイン-->
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2 d-flex justify-content-between">
      <div class="container">
        <div class="row">
          <!--サイドバー-->
          <%= render "admin/members/sidebar" %>

          <!--ユーザー一覧-->
          <div class="col-lg-9">
            <ul class="ps-0">
              <%= render "index", members: @members_men %>
            </ul>
            <%= paginate @members_men %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
