<!--タイトル-->
<%= render "admin/members/title_show", member: @member, text: "のページ" %>

<div class="container mt-3">
  <!--ユーザーの投稿数、フォロー、フォロワー数-->
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <%= render "admin/members/coordinate_follow", member: @member, member_followings: @member_followings, member_followers: @member_followers %>
    </div>
  </div>

  <!--ユーザーの投稿一覧-->
  <div class="row">
    <% if @member.posts.count == 0 %>
      <div class="pt-5 text-center">
        <h4>まだ投稿がありません</h4>
      </div>
    <% else %>
      <%= render "admin/members/member_posts", member_posts: @member_posts %>
      <%= paginate @member_posts %>
    <% end %>
  </div>
</div>

