<% if member.followed_by?(current_member) %>
  <%= link_to member_relationships_path(member), method: :delete, remote: true, class: "follow-btn btn btn-danger px-3" do %>
    <div class="text-center">
      <i class="fa-solid fa-user-check"></i>
    </div>
    <span>フォロー中</span>
  <% end %>
<% else %>
  <%= link_to member_relationships_path(member), method: :post, remote: true, class: "follow-btn btn btn-primary" do %>
    <div class="text-center">
      <i class="fa-solid fa-user-plus"></i>
    </div>
    <span>フォローする</span>
  <% end %>
<% end %>