<!--タイトル-->
<%= render "public/members/title-top", member: @member, text: "のいいね一覧" %>

<div class="container mt-3">
  <!--ユーザーの投稿数、いいね数、フォロー、フォロワー数-->
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <%= render "public/members/coordinate_follow", member: @member, member_followings: @member_followings, member_followers: @member_followers %>
    </div>
  </div>

  <!--いいねした投稿一覧-->
  <div class="row">
    <% if @favorites.present? %>
      <%= render "public/members/member_posts", posts: @favorites %>
    <% else %>
      <h2 class="text-center pt-5">いいねした投稿がありません</h2>
    <% end %>
  </div>
</div>
