<!--タイトル-->
<%= render "public/members/title_index", members: @members, title: "ユーザー一覧" %>

<!--ユーザー一覧メイン-->
<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2 d-flex justify-content-between">
      <div class="container">
        <div class="row">
          <!--サイドバー-->
          <%= render "public/members/sidebar_index" %>

          <!--ユーザー一覧-->
          <div class="col-lg-9">
            <!--並び替え-->
            <%= render "public/members/sort_index", members: @members %>
            <%= paginate @members %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
