<!--タイトル-->
<%= render "public/members/title_index", members: @search_members, title: "ユーザー検索結果" %>

<!--メイン-->
<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2 d-flex justify-content-between">
      <div class="container">
        <div class="row">
          <!--サイドバー-->
          <%= render "public/members/sidebar_index" %>
          <!--ユーザー一覧-->
          <div class="col-lg-9">
            <% if @search_members.present? %>
              <ul class="ps-0">
                <%= render "index", members: @search_members %>
              </ul>
              <%= paginate @search_members %>
            <% else %>
              <h3 class="pt-5 text-center">条件に一致するユーザーは見つかりませんでした</h3>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


