<% if @search_members.present? %>
  <header id="title_top">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2 d-flex justify-content-between">
          <h1>ユーザー検索結果</h1>
          <div class="all_member">
            <h2 class="ps-3"><%= @search_members.count %><span>件</span></h2>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!--main-->
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 d-flex justify-content-between">
        <div class="container">
          <div class="row">
            <!--性別選択-->
            <div class="col-lg-3 gender-nav">
              <nav></nav>
            </div>

            <!--ユーザー一覧-->
            <div class="col-lg-9">
              <ul class="ps-0">
                <%= render "index", members: @search_members %>
              </ul>
              <%= paginate @search_members %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <p>条件に一致するユーザーは見つかりませんでした</p>
<% end %>

