<!--タイトル-->
<%= render "public/members/title-top", member: @member, text: "のページ" %>


<div class="container mt-3">
  <!--ユーザーの投稿数、いいね数、フォロー、フォロワー数-->
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <%= render "public/members/coordinate_follow", member: @member, member_followings: @member_followings, member_followers: @member_followers %>
    </div>
  </div>
  
  <!--ユーザーの投稿一覧-->
  <div class="row">
    <% if @member == current_member && @member.posts.count == 0 %>
      <div class="pt-5 text-center">
        <h4>コーディネートを投稿してみよう！</h4>
        <p class="pt-2">
          毎日のコーデ記録始めませんか？<br>
          自分のコーデを共有しよう！
        </p>
      </div>
    <% elsif @member != current_member && @member.posts.count == 0 %>
      <h4 class="pt-5 text-center">まだ投稿がありません</h4>
    <% else %>
      <%= render "public/members/member_posts", posts: @member_posts %>
      <%= paginate @member_posts %>
    <% end %>
  </div>
</div>

