<div class="container">
  <div class="withdraw_box">
    <div class="row">
      <h3>本当に退会しますか？</h3>
    </div>
    <div class="row">
      <p>退会をご希望される場合は、下記の注意事項に同意の上退会してください。</p>
    </div>
    <div class="row">
      <h4>ご注意事項</h4>
    </div>
    <div class="row">
      <ul>
        <li>退会処理後は同じアカウントのご利用ができなくなります。</li>
        <li>退会処理を行った場合、友達検索結果に表示されなくなり、ID・プロフィールも他のユーザーから閲覧できなくなります。</li>
      </ul>
    </div>
  </div>
  <%= link_to "退会する", withdraw_member_path(@member),method: :patch, class: "btn btn-primary" %>
</div>