@import '~bootstrap/scss/bootstrap';
// @import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP&display=swap');

//// 初期設定 ////
  :root {
    --body: #f5f5f5;
    --light-text: #888;
  }

  body {
    background: var(--body);
    color: #333;
    line-height: 1.6;
    font-size: 16px;
    font-weight: 300;
    font-family: 'Noto Serif JP', serif;
  }

  main {
    min-height: 100vh;
  }

  nav {
    background: inherit;
  }

  .navbar {
    z-index: 2;
    background: #fff;
  }

  h1,h2,h3,h4,h5,h6 {
    margin: 0;
    font-size: 22px;
    line-height: 1.5;
    font-weight: bold;
  }

  a {
    text-decoration: none;
    color: #333 ;
    font-size: 15px;
  }

  a:hover {
    color: #888;
    opacity: 0.75;
  }

  .btn:hover,
  .dropdown-toggle:hover {
    opacity: 0.75;
  }


  p {
    margin-bottom: 0;
    font-size: 13px;
  }

  li {
    font-size: 12px;
    padding: 0 20px 0 1em;
    list-style: none;
  }

  img {
    max-width: 100%;
    height: auto;
    background-size: cover;
    background-position: center;
    object-fit: cover;
    border-radius: 50%;
    border: 1px #ddd solid;
  }

  footer{
    background: #fff;
    position: relative;
    z-index: 2;
    padding:100px 20px;
    border-top: 1px #ddd solid;
    margin-top: 40px;
  }

  #sns-icon {
    font-size: 18px;
    color: #aaa;
    margin-right: 7px;
    display: flex;
    justify-content: center;
  }

  #sidebar {
    /*stickyで固定*/
    position: -webkit-sticky;/*Safari*/
    position: sticky;
      /*固定したい位置*/
    top: 18px;
    border: 1px #ddd solid;
    border-radius: 3px;
    padding: 21px 0 28px 0;
    margin-top: 18px;
    background: #fff;
  }

  #switch_gender {
    width: 100%;
    background: #fff;
    border-bottom: 1px #ddd solid;
  }

  #switch_gender li {
    display: inline-block;
    font-size: 17px;
    text-align: center;
    line-height: 1.2;
    color: #888;
  }

  #switch_gender a {
    font-size: 17px;
  }

  #title_top {
    padding: 30px 0 30px 0;
    background: #fff;
    border-bottom: 1px #ddd solid;
    position: relative;
  }

  #title_top span {
    font-size: 15px;
  }

  #tag-main-container {
    border: 1px #ddd solid;
    border-radius: 4px;
    background-color: #fff;
    margin-top: 18px;
  }

  #main-container {
    border: 1px #ddd solid;
    border-radius: 4px;
    background-color: #fff;
    margin-top: 40px;
  }

  #main-container .title,
  #tag-main-container .title {
    padding: 10px 5px 10px 20px;
    font-size: 12px;
    background: #efefef;
    border-bottom: 1px #ddd solid;
  }

  .main-container-title {
    background: #f6f7f8;
    border-radius: 4px 4px 0 0;
    border-bottom: 1px #ddd solid;
    font-size: 12px;
    padding: 20px 0 20px 20px;
    font-weight: bold;
  }

  #sidebar .title {
    font-size: 18px;
    color: #333;
  }

  #sidebar li {
    font-size: 13px;
    margin-top: 4px;
  }

//// 画像系 ////
  .profile_image_li {
    width: 40px;
    height: 40px;
  }

  .profile_image_top{
    width: 48px;
    height: 48px;
  }

  .profile_image_index {
    width: 70px;
    height: 70px;
  }

  .profile_image_show {
    width: 150px;
    height: 150px;
  }

  .outfit_image_index {
    width: 100%;
    aspect-ratio: 2 / 3;
    object-fit: cover;
    border-radius: 2px 2px 0 0;
    border: none;
  }

  .outfit_image_show {
    aspect-ratio: 5 / 7;
    object-fit: cover;
    border-radius: 2px 2px 0 0;
    border: none;
  }

//// 新規投稿、ログインフォーム ////
  #login-box {
    position: relative;
    margin: 5% auto;
    padding: 40px;
    width: 650px;
    height: auto;
    background: #fff;
    box-shadow: 0 2px 4px #4b4b4b;
  }

  #login-box h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 28px;
  }

  .form-control {
    width: auto;
  }

  textarea {
    height: 180px;
  }

// ユーザー //
  .title_text h1 {
    font-size: 24px;
  }

  .coordinate_follow {
    background: #fff;
    border: 1px #ddd solid;
    border-radius: 3px;
  }

  .coordinate_follow_box {
    border-right: 1px #ddd solid;
  }

  .coordinate_follow_box:hover {
    background-color: #dcdcdc;
    transition: all .3s;
  }

  .coordinate_follow_box a {
    display: block;
    color: #333;
    padding: 8px 0 8px 0;
  }

  .coordinate_follow_box span {
    display: block;
    font-size: 10px;
    font-weight: normal;
  }

  .all_member h2 {
    border-left: 1px #ddd solid;
  }

  .all_member h2 span {
    font-size: 13px;
    margin: 0 0 0 5px;
    vertical-align: 1px;
  }


.coordinate_info {
  background: #fff;
  border-radius: 3px;
  border: 1px #ddd solid;
  padding: 20px 0 0 23px;
}

.coordinate_info h1 {
  padding: 0 23px 0 0;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
}

.coordinate_info span {
  color: #888;
}

.tag_area {
  display: flex;
  flex-wrap: wrap;
}

.tag_title {
  font-size: 14px;
  font-weight: bold;
}

.list-group-item h3 {
  font-size: 18px;
  font-weight: bold;
}

.main span {
  color: #888;
  font-size: 10px;
}

.tag_box {
  display: inline;
  background: #fff;
  color: #333;
  border: 1px #e2e2e2 solid;
  padding: 6px 12px 6px 12px;
  line-height: 1.2;
  border-radius: 2px;
}

.text_box {
  display: table-cell;
  vertical-align: top;
  max-width: 362px;
  font-size: 13px;
  padding: 8px 15px 8px 15px;
  border-radius: 0 6px 6px 6px;
  border: 1px #ddd solid;
  background: #f6f7f8;
}

// ユーザーの白枠
#member_list {
  display: table;
  width: 100%;
  margin: 18px 0 0 0;
  padding: 23px 0 23px 23px;
  background: #fff;
  border-radius: 3px;
  border: 1px #ddd solid;
}

.member_text .name {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.5;
}

.member_text .info {
  color: #888;
  margin: 4px 0 0 0;
}

.meta span {
  padding: 0 3px 0 0;
  font-size: 18px;
  font-weight: bold;
}

.follow-btn span {
  font-size: 16px;
}

.gender-nav nav {
  background: #fff;
  border: 1px #ddd solid;
  border-radius: 3px;
  padding: 21px 0 28px 0;
  margin-top: 18px;
}

// ページネーション//
.pagination {
  margin-top: 50px;
  justify-content: end;
}
.pagination li {
  margin: 0;
  padding: 0;
}

// コーデカード//
.member-profile {
  margin: 0;
}

.member-profile .main .name {
  font-size: 14px;
  line-height: 1.2;
  font-weight: bold;
}

.fa-heart {
  margin-right: 5px;
  font-size: 16px;
}

// 投稿詳細 header//
.title_text_header {
  font-size: 20px;
  line-height: 1.2;
}

// コメントフォーム
.comment-form {
  height: 100%;
  width: 100%;
}

.gender-nav h2 {
  font-size: 18px;
  margin-left: 19px;
}

.member_info {
  position: relative;
}

.withdraw_btn {
  position: absolute;
  bottom: 0;
  right: 20px;
}

.admin-delete-btn {
  position: absolute;
  bottom: 0;
  right: 0;
}

#member_list,
.card {
  animation-name:fadeDownAnime;
  animation-duration: 0.3s;
  animation-fill-mode:forwards;
  opacity:0;
  overflow: hidden;/*拡大してはみ出る要素を隠す*/
}

@keyframes fadeDownAnime{
  from {
    opacity: 0;
  transform: translateY(-100px);
  }

  to {
    opacity: 1;
  transform: translateY(0);
  }
}

// ホバー時に画像を拡大
.card .outfit_image_index {
  transform: scale(1);
  transition: .3s ease-in-out;/*移り変わる速さを変更したい場合はこの数値を変更*/
}

.card:hover .outfit_image_index {/*hoverした時の変化*/
  transform: scale(1.1);/*拡大の値を変更したい場合はこの数値を変更*/
}

// カードに影を追加
.card-effect {
  box-shadow: 0 8px 22px rgba(0,0,0,0.1);
  background-color: #fff;
  transition: all 0.3s ease;
}

.card-effect:hover {
  box-shadow: none;
  transform: translateY(5px) !important;
}

/*========= ページトップのためのCSS ===============*/
/*リンクの形状*/
#page-top a{
  display: flex;
  justify-content:center;
  align-items:center;
  background: #fff;
  border-radius: 100px;
  border: 1px solid #000;
  width: 60px;
  height: 60px;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 0.6rem;
  transition: all 0.3s;
}

/*リンクを右下に固定*/
#page-top {
  position: fixed;
  right: 10px;
  z-index: 2;
    /*はじめは非表示*/
  opacity: 0;
  transform: translateY(100px);
}

/*　上に上がる動き　*/

#page-top.UpMove{
  animation: UpAnime 0.5s forwards;
}
@keyframes UpAnime{
  from {
    opacity: 0;
  transform: translateY(100px);
  }
  to {
    opacity: 1;
  transform: translateY(0);
  }
}

/*　下に下がる動き　*/

#page-top.DownMove{
  animation: DownAnime 0.5s forwards;
}
@keyframes DownAnime{
  from {
    opacity: 1;
  transform: translateY(0);
  }
  to {
    opacity: 1;
  transform: translateY(100px);
  }
}

// テキストのボーダー
.gnavi li {
    /*線の基点とするためrelativeを指定*/
	position: relative;
}

.gnavi li a::after {
    content: '';
    /*絶対配置で線の位置を決める*/
    position: absolute;
    bottom: 0;
    left: 10%;
    /*線の形状*/
    width: 80%;
    height: 2px;
    background:#000;
    /*アニメーションの指定*/
    transition: all .3s;
    transform: scale(0, 1);/*X方向0、Y方向1*/
    transform-origin: center top;/*上部中央基点*/
}

/*現在地とhoverの設定*/
.gnavi li.current a::after,
.gnavi li a:hover::after {
    transform: scale(1, 1);/*X方向にスケール拡大*/
}

/*== 赤ボタン設定 */
.danger-btn {
    /*アニメーションの起点とするためrelativeを指定*/
  position: relative;
  overflow: hidden;
    /*ボタンの形状*/
  text-decoration: none;
  display: inline-block;
  border: 1px solid #f00;/* ボーダーの色と太さ */
  background: #f00;
  padding: 10px 30px;
  text-align: center;
  outline: none;
    /*アニメーションの指定*/
  transition: ease .2s;
}

/*ボタン内spanの形状*/
.danger-btn span {
  position: relative;
  z-index: 3;/*z-indexの数値をあげて文字を背景よりも手前に表示*/
  color: #fff;
}

.danger-btn:hover span{
  color:#f00;
}

/*== 背景が流れる（中央から縦全体） */
.bg-red:before {
  content: '';
    /*絶対配置で位置を指定*/
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
    /*色や形状*/
  background: #fff;
  width: 100%;
  height: 100%;
    /*アニメーション*/
  transition: transform .3s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transform: scale(1, 0);
  transform-origin: center;
}

/*hoverした際の形状*/
.bg-red:hover:before{
  transform: scale(1, 1);
}

// 青ボタンの設定
.primary-btn{
    /*アニメーションの起点とするためrelativeを指定*/
  position: relative;
  overflow: hidden;
    /*ボタンの形状*/
  text-decoration: none;
  display: inline-block;
  border: 1px solid #1e78ad;/* ボーダーの色と太さ */
  background: #1e78ad;
  padding: 10px 30px;
  text-align: center;
  outline: none;
    /*アニメーションの指定*/
  transition: ease .2s;
}

.primary-btn span {
  position: relative;
  z-index: 3;/*z-indexの数値をあげて文字を背景よりも手前に表示*/
  color: #fff;
}

.primary-btn:hover span{
  color: #1e78ad;
}

/*== 背景が流れる（中央から縦全体） */
.bg-blue:before {
  content: '';
    /*絶対配置で位置を指定*/
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
    /*色や形状*/
  background: #fff;
  width: 100%;
  height: 100%;
    /*アニメーション*/
  transition: transform .3s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transform: scale(1, 0);
  transform-origin: center;
}

/*hoverした際の形状*/
.bg-blue:hover:before{
  transform: scale(1, 1);
}

// グレーボタンの設定
.secondary-btn{
    /*アニメーションの起点とするためrelativeを指定*/
  position: relative;
  overflow: hidden;
    /*ボタンの形状*/
  text-decoration: none;
  display: inline-block;
  border: 1px solid #808080;/* ボーダーの色と太さ */
  background: #808080;
  padding: 10px 30px;
  text-align: center;
  outline: none;
    /*アニメーションの指定*/
  transition: ease .2s;
}

.secondary-btn span {
  position: relative;
  z-index: 3;/*z-indexの数値をあげて文字を背景よりも手前に表示*/
  color: #fff;
}

.secondary-btn:hover span{
  color:#808080;
}

/*== 背景が流れる（中央から縦全体） */
.bg-gray:before {
  content: '';
    /*絶対配置で位置を指定*/
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
    /*色や形状*/
  background: #fff;
  width: 100%;
  height: 100%;
    /*アニメーション*/
  transition: transform .3s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transform: scale(1, 0);
  transform-origin: center;
}

/*hoverした際の形状*/
.bg-gray:hover:before{
  transform: scale(1, 1);
}

// グリーンボタンの設定
.success-btn{
    /*アニメーションの起点とするためrelativeを指定*/
  position: relative;
  overflow: hidden;
    /*ボタンの形状*/
  text-decoration: none;
  display: inline-block;
  border: 1px solid #198754;/* ボーダーの色と太さ */
  background: #198754;
  padding: 10px 30px;
  text-align: center;
  outline: none;
    /*アニメーションの指定*/
  transition: ease .2s;
}

.success-btn span {
  position: relative;
  z-index: 3;/*z-indexの数値をあげて文字を背景よりも手前に表示*/
  color: #fff;
}

.success-btn:hover span{
  color: #198754;
}

/*== 背景が流れる（中央から縦全体） */
.bg-green:before {
  content: '';
    /*絶対配置で位置を指定*/
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
    /*色や形状*/
  background: #fff;
  width: 100%;
  height: 100%;
    /*アニメーション*/
  transition: transform .3s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transform: scale(1, 0);
  transform-origin: center;
}

/*hoverした際の形状*/
.bg-green:hover:before{
  transform: scale(1, 1);
}

// 検索フォーム

.open-btn{
  width: 40px;
  height: 40px;
  background-size: cover;
  background-position: center;
}

/*========= 検索窓の設定 ===============*/

/*==検索窓背景のエリア*/

#search-wrap-user,
#search-wrap-coordinate {
  position:fixed;/*固定配置にして*/
  top: 0;
  left: 0;
  z-index: -1;/*最背面に設定*/
  opacity: 0;/*透過を0に*/
  transition: all 0.4s;/*transitionを使ってスムースに現れる*/
  width: 100%;
  height: 100vh;
}

/*ボタンクリック後、JSで#search-wrapに panelactive クラスが付与された後の見た目*/
#search-wrap-user.panelactive,
#search-wrap-coordinate.panelactive{
  opacity: 1;/*不透明に変更*/
  z-index: 4;/*全面に出現*/
  background: rgba(51,51,51,0.8);
  /*中の要素を天地中央揃えにする設定*/
  display: flex;
  justify-content: center;
  align-items: center;
}

/*==検索窓のエリア*/

#search-wrap-user .search-area,
#search-wrap-coordinate .search-area {
  display: none;/*検索窓のエリアは、はじめ非表示*/
}

/*ボタンクリック後、JSで#search-wrapに panelactive クラスが付与された後*/
#search-wrap-user.panelactive .search-area,
#search-wrap-coordinate.panelactive .search-area {
  display: block;/*検索窓エリアを表示*/
  width: 80%;
  position: relative;
}

/*==検索フォームの設定*/

#search-wrap-user form,
#search-wrap-coordinate form {
  position: relative;
  height: 66px;
}

/*==テキスト入力とボタンinput共通設定*/
#search-wrap-user input,
#search-wrap-coordinate input {
  -webkit-appearance: none;/*SafariやChromeのデフォルトの設定を無効*/
  outline: none;
  cursor: pointer;/*カーソルを指マークに*/
  color: #fff;
}

/*テキスト入力input設定*/
 #search-wrap-user input[type="text"],
 #search-wrap-coordinate input[type="text"] {
  width: 100%;
  padding: 20px;
  margin-right: 10px;
  color: #000;
  border: none;
  border-bottom: 2px solid #666;
  transition: all 0.5s;
  letter-spacing: 0.05em;
}

 #search-wrap-user input[type="text"]:focus,
 #search-wrap-coordinate input[type="text"]:focus {
  background:#444;
  color: #fff;
}

/*ボタンinput設定*/
 #search-wrap-user input[type="submit"],
 #search-wrap-coordinate input[type="submit"] {
  position: absolute;
  top: 1px;
  right: 10px;
  background: url("https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/7-2-3/img/icon_search.svg") no-repeat 15px center;/*虫眼鏡アイコンを背景に表示*/
  background-size: 25px 25px;
  width: 60px;
  height: 60px;
  border: none;
}


/*=======　閉じるための×ボタン　========*/
.close-btn-user,
.close-btn-coordinate{
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 2;
  cursor: pointer;
  width: 60px;
  height: 60px;
}

.close-btn-user span,
.close-btn-coordinate span{
  display: inline-block;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background-color: #fff;
 }

/*×マーク*/
.close-btn-user span:nth-of-type(1),
.close-btn-coordinate span:nth-of-type(1) {
  top: 21px;
  left: 16px;
  transform: translateY(6px) rotate(-135deg);
  width: 50%;
}

.close-btn-user span:nth-of-type(2),
.close-btn-coordinate span:nth-of-type(2) {
  top: 32px;
  left: 16px;
  transform: translateY(-6px) rotate(135deg);
  width: 50%;
}

// 並び順ボタン
.order-btn {
  border: none;
  margin-top: 18px;
  background: inherit;
  font-size: 14px;
}

// ページネーション
.pagenation {
  background: inherit;
}

.page-link {
  color: #000;
}

.page-link:hover {
  color: #000;
}

.page-item.active .page-link {
  color: #000;
  background: #999;
  border-color: #999;
}

.form-name {
  padding-bottom: 10px;
}